.home{
    // height: 100%;
    // padding-top: 100px;
    &-body{
        // padding-top: 65px;
    }
    &-btns{ 
        margin-top: 20px;
        width: 500px;
        height: 30px;
        display: flex;
        overflow-x: auto;
        margin-left: auto;
        margin-right: auto;
        &::-webkit-scrollbar{
            display: none;
        }
       
    }
}
.btn{
    background-color: #F0860C;
    color:red;
}